body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

.titleScreen {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: repeat(3, 30vh);
    grid-gap: 1em;
    background-color: green;
}

.toc {
    display: grid;
    grid-template-columns: 20% auto auto auto 20%;
    grid-template-rows: repeat(5, 30vh);
    grid-gap: 1em;
    background-color: green;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: black;
}
